@import "./Variable.scss";

.companies_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    height: min-content;
    width: 100%;
    margin: auto;
    background-color: $color-milk-white;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        max-width: 1280px;
        width: 100%;
        margin: 6rem auto;

        .text {
            font-size: 2.2rem;
            font-weight: $font-weight-regular;
        }

        .companies {
            display: flex;
            gap: 20px;
            width: 100%;
            height: min-content;
            justify-content: space-between;
            align-items: center;

            img {
                height: 100%;
                flex: 0 0 auto;
            }
        }
    }
}