@import"./Variable.scss";

.discover_container {
    padding: 8rem 8% 6rem 8%;
    height: min-content;

    .discover_wrapper {
        position: relative;
        max-width: 1280px;
        margin: auto;
        min-height: max-content;
        border-radius: 20px;
        background-color: $secondary-color;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .net_svg {
            position: absolute;
            top: 10%;
            left: 10%;
        }

        .cone_svg {
            position: absolute;
            top: 55%;
            left: 25%;
        }

        .cone_one_svg {
            position: absolute;
            top: 50%;
            right: 5%;
        }

        .jigjag_svg {
            position: absolute;
            top: 10%;
            right: 5%;
        }

        .jigjag_one_svg {
            position: absolute;
            top: 55%;
            left: 6%;
        }

        .discover_title {
            text-align: center;
            letter-spacing: -0.03em;
            color: $color-white;

            h2 {
                font-size: 5.5rem;
                line-height: 6.1rem;
                padding: 5rem;
            }
        }

        .discover_button {
            button {
                background: $color-orange;
                border: none;
                color: $color-white;
                padding: 2rem 5rem;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .discover_container {
        padding: 4rem 8% 4rem 8%;
        height: min-content;

        .discover_wrapper {
            align-items: stretch;
            padding: 4rem 3rem;


            .discover_title {
                text-align: center;
                letter-spacing: -0.03em;
                color: $color-white;

                h2 {
                    font-size: 4rem;
                    line-height: 4.5rem;
                    padding: 2rem 0;
                }
            }

            .discover_button {
                button {
                    background: $color-orange;
                    border: none;
                    color: $color-white;
                    padding: 1.5rem;
                    line-height: 3.1rem;
                    width: 100%;
                    border-radius: 0px;
                }
            }
        }
    }

}