@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

/* Variables */
$primary-color: #000000;
$primary-color-lite: #64607D;
$secondary-color: #3734A9;
$tertiary-color: #757095;
$color-white-blue: rgb(235 235 246);

$color-white: #ffffff;
$color-milk-white: #F5F6F8;
$color-background-main: #FAFBFF;
$color-highlight: #DFF6FF;
$color-highlight-second: #C9E7F2;

$color-gray: #c4c4c47d;
;


$header-button-color: #4F46BA;

/* TYPOGRAPHY */
$primary-font-family: 'Manrope', sans-serif;
$default-font-size: 1.6rem;

/* FONT */
$font-weight-light: 300;
$font-weight-semi-light: 400;
$font-weight-regular: 500;
$font-weight-semi-regular: 600;
$font-weight-semi-bold: 700;
$font-weight-bold: 800;